<div class="container">
  <div class="about-header header-layout">
    <h1>About the app</h1>
    <p>You can buy, sell, trade or gift books through our online platform.</p>
  </div><!-- / about-header -->
</div><!-- /container -->
