<div class="panel panel-default contact-header header-layout">
  <div class="panel-body">
    <h1>Thank you. We have received your message and will respond as soon as possible.</h1>
    <%= image_tag("max-box.gif", class: "img-responsive book1 max-box") %>
  </div><!-- / panel-body -->
</div><!-- / panel -->
