<table>
  <tbody>
    <tr>
      <td><p>You have received a new contact form message. The contents of the message are:<%=@contact_formTest%> </p></td>
    </tr>
    <tr>
      <td><p><%= @message %></p></td>
    </tr>
  </tbody>
</table>
