<table align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
  <tbody>
    <tr>
      <td bgcolor="#41a6b1" style="padding: 10px 10px 8px 5px;">
        <p>You have received a new contact form message from. The contents of the message are:</p>
        <br />
        <center>
          <%= image_tag("postpigeon_dribble.gif", class: "img-responsive book1") %>
        </center>
      </td>
    </tr>
    <tr>
      <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
        <p>
          <%= @message %>
        </p>
      </td>
    </tr>
    <tr>
      <td bgcolor="#ee4c50">
        <footer>
          <p>&copy; 2018 Books Berlin</p>
        </footer>

      </td>
    </tr>
  </tbody>
</table>
