<h1 class="header-layout">5.1.Routes</h1>
<ul>
  <li>Reroute your root page to a different page on your site (i.e. one that isn't the current root page).</li>
  <li>Create dynamic links that route your users to the different pages of your app.</li>
  <div class="links_to_routes">
  <button id="routesButton"><%=link_to "Link1", simple_pages_landing_page_path %></button>
  <button id="routesButton"><%=link_to "Link2", simple_pages_about_path %></button>
  <button id="routesButton"><%=link_to "Link3", simple_pages_contact_path %></button>
  </div>
</ul>
