// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/********************* BOOKS *********************/
#new-product-heading {
  font-size: 90px;
  color: #ffe007;
  text-shadow: 0.5px 0.5px black;
  font-family: 'Black And White Picture', sans-serif;
}

.img-fluid {
  border: outset yellow 2px;
}

.name-class {
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
  color: yellow;
}

.description-class {
  color: #f1ce82;
  font-size: 13px;
}

.genre-class {
  margin-top: 20px;
  color: wightblue;
  font-style: italic;
}

.manipulate-class {
  margin-top: 5px;
  margin-bottom: 30px;
  text-align: center;
  border: dotted 2px #7d7d5f38;
  border-radius: 20px;
  background-color: #3535299c;
}

/************ forms ***************/

.form-label {
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Black Han Sans', sans-serif;
}

.btn-form {
  margin-top: 20px;
  background-color: #a52a2a !important;
  color: yellow;
}

.btn-form:hover {
  background: #a52a2a00 !important;
  color: yellow;
}

.form-size {
  height: 40px;
  border-radius: 5px;
  background-color: #fffcfc00;
  color: yellow;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.form-margin-bot {
  margin-bottom: -10px;
}

/***************COMENTS*****************/
.comments-body {
  background-color: #a52a2a69;
  width: 50%;
}

.comment-font {
  font-family: 'Charm', cursive;
  font-size: 2em;
}

.highest-rating-comment {
  font-size: 1.5em;
  text-decoration: underline;
  color: #ffe007;
}

.old-comments {
  border: 5px solid #a52a2a;
  background-color: #00000082;
  margin-bottom: 20px;
  padding: 20px;
}

text_area {
  width: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 200px;
}

#comment_body {
  width: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 200px;
  resize: none;
}
