<div class="container">

<center><h1 id="new-product-heading">Editing Product</h1></center>
<center>
<%= render 'form', product: @product %>

<%= link_to 'Show', @product, class: 'btn btn-success btn-form' %>
<%= link_to 'Back', products_path, class: 'btn btn-success btn-form' %>
</center>
</div>
