<p id="notice"><%= notice %></p>

<center><h1 id="new-product-heading">Books</h1></center>

<div class="row">
    <% cache(cache_key_for_products) do %>    
        <% @products.each do |product| %>
        <%= render product %>
      <% end %>
  <% end %>
</div><!-- /"row" -->
